body {
    background-color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

h1 {
    font-size: 50px;
}

.description {
    font-size: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.myPageTitle {
    font-style: italic;
    text-align: center;
}

.centerText {
    text-align: center;
}

.myNavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float: left;
}

